* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container-task {
    
    width: 100%;
    padding: 0 20px;
}

.container-task-list {
    display: flex;    
    flex-wrap: wrap;
    /* justify-content: center; */
}

.card-item {
    margin-right: 1rem;
}

.date {
    font-size: .8rem;
    margin-top: 10px;
    border-top: 1px solid #c8c8c8;
    padding-top: 1rem;
}

.card-item > span {
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: .9rem;
    padding: 0 1rem;
}

/* Modal */
.ReactModalPortal > div{
    opacity: 0;
}

.ReactModalPortal .ReactModal__Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity .2s ease-in-out;
    z-index: 999;
}

.modal-fondo {
    background-color: rgba(0, 0, 0, 0.3);
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: white;
    border-radius: 5px;
    color: rgb(51, 51, 51);
    display: inline;
    max-height: 620px;
    max-width: 500px;
    outline: none;
    padding: 10px;
}
